<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>

    <li><input type="checkbox" id="scales" name="scales">
    <%= link_to task.title, task_path(task) %> ·
    <%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
     </li>
  <% end %>
</ul>

<%= link_to new_task_path do %>
  <i class="far fa-plus-square">Add a new task</i>
<% end %>
